.datatableSchedules {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  .dateShow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #f4f4f4;
    padding: 1rem;
    font-size: 15px;
    margin: 10px;

    .row1 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .buttonsDate {
      padding-left: 3vw;
      display: flex;
      min-width: 15vw;
      justify-content: space-between;
    }

    label {
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: bold;

      &.shift-label {
        margin-left: 1rem;
      }
    }

    .formInput {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 12px;
      color: #333;
      background-color: #fff;
      outline: none;
      box-shadow: none;
      transition: border-color 0.2s ease-in-out;

      &.date-input {
        width: 50%;
      }

      &:focus {
        border-color: #6c63ff;
      }
    }
  }

  .datagrid {
    flex: 1;
    border: none;
    font-size: 18px;
    .MuiDataGrid-columnsContainer {
      background-color: #f4f4f4;
    }

    .MuiDataGrid-row {
      // height: 20px !important;
      max-height: 32px !important;
      min-height: 32px !important;
    }

    .MuiDataGrid-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 32px !important;
      min-height: 32px !important;
      font-size: 15px;
    }
    .MuiDataGrid-columnHeaderDraggableContainer {
      height: 50% !important;
    }

    .MuiDataGrid-columnHeaderTitleContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px !important;
      min-height: 0px !important;
    }

    .Praca {
      color: rgb(37, 106, 14);
    }

    .Rozruch {
      color: rgb(204, 185, 12);
    }

    .Uruchomienie {
      color: rgb(255, 123, 0);
    }
  }

  .datatableTitleSchedules {
    width: 100%;
    color: rgb(2, 2, 69);
    margin-bottom: 5px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    .serviceTitle {
      width: 100%;
      color: rgb(2, 2, 69);
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .titleh2 {
      width: 100%;
      text-align: center;
    }

    .currentShift,
    .currentDate {
      color: rgb(7, 3, 82);
      font-weight: bold;
    }

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    .buttonPrinter {
      margin-left: auto;
    }

    .buttonPrinter button {
      font-size: 15px;
      padding: 10px 20px;
      background-color: #2ecc71;
      color: #ffffff;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    .buttonPrinter button:hover {
      background-color: #27ae60;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .buttonNotes {
      margin-left: auto;
    }

    .buttonNotes button {
      font-size: 15px;
      padding: 10px 20px;
      background-color: #2e72cc;
      color: #ffffff;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    .buttonNotes button:hover {
      background-color: #1b457c;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.datagridContainer {
  .serviceList {
    .serviceTitle {
      width: 98%;
      color: rgb(2, 2, 69);
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .servicesRow {
      display: flex;
      align-items: start;
      justify-content: start;

      .singleService {
        .serviceWork {
          color: green;
        }

        .serviceStop {
          color: red;
        }
      }
    }
  }

  .notes {
    .notesTitle {
      width: 50%;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }

  @media print {
    .print-hide {
      display: none !important;
    }
  }
}
